* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.navbar ul li {
    list-style: none;
    display: block;
    position: relative;
    margin: 0 45px;
    display: flex;
    align-items: center;
}

.nav-menu li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #d26800;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav-menu li:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    transform: scale(2);
}
.align {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #d26800;
    height: 100px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 5px;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 1rem;
        flex-direction: column;
        background-color: #d85509;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        Left: 0;
    }

    @media(max-width:800px) {
        h2 {
            font-size: 35px;
        }

        .time {
            margin: 5px;
        }

        .time h4 {
            font-size: 12px;
        }

        .time small {
            font-size: 10px;
        }
    }
}