* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    
}

:root {
    --bg: #f7f7f7;
    --secondbg: #f7f7f7;
    --footercolor: rgb(126, 109, 88);
    --orangeweb: #EB5E45;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .nav-menu hr {
    width: 30%;
    border: 1px solid #f7f7f7;

 }

 .nav-menu a {
    color: #f7f7f7;
 }
 .header-icons {
    display: flex;
    
 }

.header-icons a {
font-size: 1.5rem;
margin: 0px 20px 0px 40px 

}

.logo {
    max-width: 150px;
    height: clamp(50px, 70px, 150px);
}


.navbar ul li {
    list-style: none;
    display: block;
    position: relative;
    margin: 0 45px;
    display: flex;
    align-items: center;
}

.nav-menu li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #d26800;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav-menu li:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--orangeweb)
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    transform: scale(2);
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: var(--bg);
    height: 100px;


}

.offertext {
    font-size: clamp(0.7rem, 3vw, 4rem);
    width: 30%;
}

h2 {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 3rem);

}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 5px;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    background-color: var(--bg);
}

.slider figure div {
    float: left;
    width: 20%;
}

.slider figure img {
    height: 85vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 60s infinite;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondbg);
    position: relative;
}

.options {
    
    justify-items: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--bg);


}

.options img {
    width: 60%;
    height: 20rem;
    object-fit: cover;
    box-shadow: -2px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #333;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--secondbg);
    gap: 20px;



}

.options a {

    border-radius: 20px;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.options p {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    width: 80%;
}
.dot-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px;
}

button {
    width: 350px;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #eb5e45;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;

}

button span {
    top: 0px;
    background: #ce5403;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

figcaption {
    font-size: clamp(3rem, 3vw, 4rem);
    color: white;
    margin: 20px;
    background-color: var(--orangeweb);
    width: 100%;
    text-align: center;
}

.fronttext {
    background-color: var(--bg);
    text-align: center;
    font-size: clamp(1.3rem, 3vw, 4rem);
    padding: 20px 60px;
    height: 100%
}

.fronttext h3 {
    font-size: clamp(3rem, 5vw, 4rem);
    color: #EB5E45;

}

.prev,
.next {
    display: none;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 70px
}

.arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

footer {
    height: 40vh;
    background-color: var(--footercolor);
   display: flex;
   flex-direction: column;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.check {
    margin: 10px;
}

form h4 {
    font-size: clamp(.5rem, 1rem, 2rem);
    padding-top: 20px;
    text-align: center;

}



.newsletterinput {
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style the submit button */

.subscribe {
    background-color: #4d1616;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 9px;
}

.subscribe:hover {
    opacity: 0.8;
}

.footer-text a {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    
}

.footer-text ul li {
    list-style: none;
    margin: 10px 10px; 
    
    width: 100%;
   
}
.footer-split {
    position: absolute;
    border-radius: 2px;
    width: 100%;
   
}

.footer-text {
    text-align: left;
    margin-top: 20px;
    margin-left: 30px; 
}
.top-part-footer
{
    display: flex;
    padding: 10px;
    background-color: var(--footercolor);
}

label {
    display: inline-block;
    width: 300px;
    padding: 10px 0px;
}

.SoMe-icons {
    height: 100%;
    background-color: var(--footercolor);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.fa-brands {
    font-size: 2rem;
    padding: 20px;
}

/* Style for Login.html */ 
.main-login {
    background-color: var(--bg);
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.top-login {
    margin: 0px 0px 80px 0px; 
}
.inline-line {
    display: flex;
    width: 100%;
    align-items: center;
justify-content: center;
    color: var(--orangeweb);
}
.inline-line hr {
    width: 200px;
    margin: 5px;
    border: 1px solid var(--orangeweb);
}
.bottom-login {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5rem;

}
.main-login button {
    border: 2px solid var(--orangeweb);
    border-radius: 20px;
    background: transparent;
    color: var(--orangeweb);
}
/* End of login.html styling */ 

/* Styling options.html */ 
.main-options {
    background-color: var(--bg);
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.main-options h3 {
    margin-top: 80px;
    padding: 10px;
    background-color: var(--orangeweb);
    width: 100%;
    font-size: 2rem;
    color: white;
}

.main-options ul {
    margin-top: 20px;
    list-style: none;
    font-size: 2rem;
    width: 100%;
}
.main-options li {
    border: 1px solid var(--orangeweb);
    border-radius: 10px; 
    width: 80%;
    margin: 30px auto ;
    color: var(--orangeweb);
}

.main-options input {
    margin: auto 10px;
}

.main-options button {
    margin-top: 30px;
    border-radius: 10px;
    min-width: 200px;
    padding: 10px 10px;
    background-color: var(--orangeweb);
    color: white;
}

/* inspiration html styling */


.info {
    width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #f7f7f7;
  
}

.info img {
    width: 100%;
}

.fig-inspiration {
font-size: 2rem;
margin: 1px;
}


.button-inspi {
    margin: auto;
    padding: 1px 1px;
    background-color: var(--orangeweb);
    color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  bottom: 50px;
    
}

/*Formular html styling */ 

.p-konto {
color: #EB5E45;
text-align: center;
padding: 30px;
}

.checkbox-form {
    margin: 4px;
    accent-color: #eb5e45;
} 

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

input[type=text]{
border: 1px solid #EB5E45;
margin: 0px 20px;
}

::placeholder {
    color: #EB5E45;
}

#button-form {
margin-top: 15px;
}
@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari & Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari & Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari & Chrome */
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes animate {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -200%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }

}


@media(max-width:768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 9%;
        height: 40vh;
        flex-direction: column;
        background-color: var(--orangeweb);
        width: 100%;
        height: 100%;
        justify-content:start;
        padding-top: 8rem;
        transition: 0.3s;
        gap: 50px;
        z-index: 1;
    }
    .nav-link {
        font-size: 2rem;
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        Left: 0;
    }

    .header-icons a {
        font-size: 2.5rem;
        margin: 20px 30px;
        }

    /* Hide the images by default */
    .mySlides {
        display: none;

    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        display: flex;
        top: 35%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 30px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 10%;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 10%;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }


}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot-inactive:hover {
    background-color: #e84610;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #e84610;  
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-inactive {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(181, 180, 180);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotsection {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5.6rem;
}
.dotsection img {
    border: 0px;
    box-shadow: none;
    object-fit: fill;
    width: 20px;
    height: 30px;
    

}
.icon-food {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 10px;
    width: 40%;
    

}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.nav-button {
    display: flex;

    border: 2px solid black;
}


.countdown {
    transform: scale(1.4);
    overflow: hidden;
}


@media(max-width:800px) {

    .time {
        margin: 5px;
    }

    .time h4 {
        font-size: 12px;
    }

    .time small {
        font-size: 10px;
    }

}

