* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg: rgb(177, 74, 74);
    --secondbg: rgb(13, 21, 59);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logo {
    max-width: 150px;
    height: clamp(50px, 70px, 150px);
}


.navbar ul li {
    list-style: none;
    display: block;
    position: relative;
    margin: 0 45px;
    display: flex;
    align-items: center;
}

.nav-menu li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #d26800;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav-menu li:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    transform: scale(2);
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: var(--bg);
    height: 100px;


}

.offertext {
    font-size: clamp(0.7rem, 3vw, 4rem);
    width: 30%;
}

h2 {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 3rem);

}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 5px;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    background-color: var(--bg);
}

.slider figure div {
    float: left;
    width: 20%;
}

.slider figure img {
    height: 85vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 60s infinite;
}

.main-content {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondbg);
    position: relative;
}

.options {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--bg);


}

.options img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    box-shadow: -2px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #333;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: var(--secondbg);

}

.options a {

    border-radius: 20px;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

button {
    width: 250px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #e77d03;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    z-index: 0;
}

button span {
    top: 0px;
    background: #ce5403;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

figcaption {
    font-size: clamp(3rem, 3vw, 4rem);
    color: white;
}

.fronttext {
    background-color: var(--bg);
    text-align: center;
    font-size: clamp(1.3rem, 3vw, 4rem);
    padding: 0px 10px 5rem 0px;
}

.fronttext h3 {
    padding: 20px;
    font-size: clamp(3rem, 5vw, 4rem);

}

.prev,
.next {
    display: none;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 70px
}

.arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

footer {
    height: 40vh;
    background-color: var(--bg);
    display: flex;
    text-align: flex-start;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.check {
    margin: 10px;
}

form h4 {
    font-size: clamp(.5rem, 1rem, 2rem);
    padding-top: 20px;
    text-align: center;

}

.newsletterinput {
    width: 100%;
    padding: 2px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
    background-color: #3f2323;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 5px;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.footer-text a {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    
}

.footer-text ul li {
    list-style: none;
    margin: 0 45px;
    margin: 10px;
   
}
.fa-solid {
    

}

.footer-text {
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

label {
    display: inline-block;
    width: 400px;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari & Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari & Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari & Chrome */
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes animate {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -200%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }

}


@media(max-width:768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 12%;
        gap: 1rem;
        height: 40vh;
        flex-direction: column;
        background-color: rgba(157, 87, 87, 0.5);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
        padding-bottom: 100vh;
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        Left: 0;
    }



    /* Hide the images by default */
    .mySlides {
        display: none;

    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        display: flex;
        top: 30%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 10%;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 10%;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }


}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(189, 42, 42);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.dot.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.nav-button {
    display: flex;

    border: 2px solid black;
}

.options img {
    width: 80%;
}

.countdown {
    transform: scale(1.5);
    padding-right: 20px;
}


@media(max-width:800px) {

    .time {
        margin: 5px;
    }

    .time h4 {
        font-size: 12px;
    }

    .time small {
        font-size: 10px;
    }

}